@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

.main{
    max-width: 82rem;
    height: auto;
    padding: 2.5rem;
    background: #C3E6CD;
    border-radius: 2.5rem;
    font-family: 'Inter', sans-serif;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2.5rem;
    height: 5.1rem;
}

.price-tag{
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.total{
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 3.4rem;
}

.heading{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
}

.main-heading{
    font-weight: 700;
    font-size: 1 rem;
    line-height: 1.2rem;
}

.total-heading{
    padding-left: auto;
    width: auto;
}

.hr-line{
    border-top: 3px solid black;
    height: 0;
    padding-bottom: 2.5rem;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding-bottom: 40px;
}

heading{
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.3rem;
    letter-spacing: -0.24px;
    color: #000000;
}
.section{
    height: 20rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}